################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMSumbraco/appsettings.json
/CMSumbraco/appsettings.Development.json
/.vs
