@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var content = (ContentModels.LogosSection)Model.Content;
}

<section class="section-width alit-center justcont-center margin">
	<div class="container-width"><img src="@content.LogosImage!.Url()" /></div>
</section>