@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var content = (ContentModels.MapSection)Model.Content;
}

<section class="section-width padding-100 mainColor">
	<div><img src="@content.MapImage!.Url()"/></div>
	<div class="container-width absolute map-form White shadow flex-column gap-20 padding alit-center justcont-center">
		<div class="font-size-14 weight-bold tanColor">@content.MapLabel</div>
		<div class="font-size-40 weight-bold text-center width-500">@content.MapTitle</div>
		<div class="italic font-size-14 text-center width-500">@content.MapText</div>
		<form class="flex-column gap-20 justcont-center alit-center">
			<div class="flex-row gap-20">
				<input type="text" placeholder="Name" class="italic font-size-14 padding width-500"/>
				<input type="text" placeholder="Phone" class="italic font-size-14 padding width-500" />
			</div>
			<div class="flex-row gap-20">
				<input type="text" placeholder="Email address" class="italic font-size-14 padding width-500" />
				<input type="text" placeholder="Financial Consulting" class="italic font-size-14 padding width-500" />
			</div>
			<button type="submit" class="padding tanColor-2 mainColorBG rounded shadow width-190 weight-bold font-size-16">Submit</button>
		</form>
	</div>
</section>