* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-family: "Inter", sans-serif;
}

/* General */

a {
    text-decoration: inherit;
    color: inherit;
}

button {
    border: none;
}

input {
    border: 2px solid #f7f7f7;
}

.margin {
    margin: 20px;
}

.padding {
    padding: 20px;
}

.padding-100 {
    padding: 100px;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}
.z-index-3 {
    z-index: 3;
}

.section-width {
    width: 1920px;
    display: flex;
}

.container-width {
    width: 1170px;
}
.width-190 {
    width: 190px;
}

.width-370 {
    width: 370px;
}

.width-430 {
    width: 430px;
}
.width-500 {
    width: 500px;
}
.width-770 {
    width: 770px;
}

.height-200 {
    height: 200px;
}

.height-500 {
    height: 500px;
}

.height-700 {
    height: 700px;
}

.height-820 {
    height: 820px;
}

.height-1012 {
    height: 1012px;
}

.alit-center {
    display: flex;
    align-items: center;
}

.alit-space {
    align-content: space-between;
}

.justcont-center {
    display: flex;
    justify-content: center;
}

.justcont-space {
    display: flex;
    justify-content: space-between;
}
.justcont-right {
    justify-content: end;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.gap-20 {
    gap: 20px;
}

.gap-40 {
    gap: 40px;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.container {
    position: relative;
}

.rounded {
    border-radius: 10px;
}
.rounded-top {
    border-radius: 10px 10px 0px 0px;
}

.font-size-13 {
    font-size: 13px;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-22 {
    font-size: 22px;
}
.font-size-30 {
    font-size: 30px;
}
.font-size-40 {
    font-size: 40px;
}
.font-size-70 {
    font-size: 70px;
}
.font-size-100 {
    font-size: 100px;
}

.weight-light {
    font-weight: 300;
}
.weight-regular {
    font-weight: 400;
}
.weight-semibold {
    font-weight: 600;
}
.weight-bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}

.White {
    background-color: #ffffff;
}

.White-100 {
    background-color: #f7f7f7;
}

.whiteColor {
    color: #ffffff;
}

.mainColorBG {
    background-color: #4F5955;
}

.mainColor {
    color: #4F5955;
}

.tanColorBG {
    background-color: #D9C3A9;
}
.tanColorBG-2 {
    background-color: #F2EDDC;
}

.tanColor {
    color: #D9C3A9;
}
.tanColor-2 {
    color: #F2EDDC;
}

.black {
    background-color: black;
}

.shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Section-specific */

.heroSection {
    position: relative;
    z-index: 1;
}

.heroImage {
    position: relative;
    z-index: 1;
}

.heroContent {
    position: absolute;
    top: 100px;
    left: 375px;
    z-index: 2;
    width: 570px;
}

.mainContainer {
    left: 375px;
}

.mainContent {
    width: 670px;
}

.mainForm {
    width: 470px;
    height: 572px;
    position: absolute;
    top: -100px;
    left: 690px;
}

.serviceGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.successSection {
    margin-bottom: 300px;
}

.successTextDiv {
    position: absolute;
    top: 100px;
}

.successDotMove {
    top: 120px;
}

.successImage {
    position: absolute;
    top: 500px;
}

.contactImage {
    bottom: -4px;
}
.contactImage-2 {
    bottom: -65px;
}

.teamSection {
    display: flex;
    flex-wrap: wrap;
}
.w-1-3 {
    width: 3fr;
}
.w-1-4 {
    width: 4fr;
}

.mail-image {
    left: 450px;
    top: 755px;
}
.detail-line {
    height: 1100px;
    width: 4px;
}

.map-form {
    height: 567px;
    left: 375px;
    top: 1350px;
}