<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce40aeb6-c61d-460b-a2e8-9053e99c38e1" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d8202a3a-9aaf-49f7-829c-189623753498"
    },
    {
      "contentElementTypeKey": "0c6caf18-43a8-4191-83f9-1f4317e3e24e",
      "settingsElementTypeKey": "c9a44c9b-b30e-4bcf-84d6-155c59d82d67"
    },
    {
      "contentElementTypeKey": "2d79b986-1660-4215-9eda-c53a7904f796"
    },
    {
      "contentElementTypeKey": "abd2e0a6-65b2-4fbd-8459-d27536a6b12d"
    },
    {
      "contentElementTypeKey": "73684d45-d665-4329-ad20-54370b0dade5"
    },
    {
      "contentElementTypeKey": "c636b8cd-f973-4e81-919f-353ec3c5ca70"
    },
    {
      "contentElementTypeKey": "f0e051db-b81b-4089-976d-1cc56930f840"
    },
    {
      "contentElementTypeKey": "264eabc4-7559-4fd6-9d17-5568c9d5e82b"
    },
    {
      "contentElementTypeKey": "0c07234f-4a2a-4fe5-9744-4544d6dc3a62",
      "settingsElementTypeKey": "fababb35-f622-432a-8466-12c81bf9910a"
    },
    {
      "contentElementTypeKey": "f8d1cf4c-0d0f-4a84-869d-f2643d7ca331"
    },
    {
      "contentElementTypeKey": "0830f167-255a-4942-a718-b74ad6df4b6b"
    }
  ]
}]]></Config>
</DataType>