<?xml version="1.0" encoding="utf-8"?>
<DataType Key="143be4b1-bf1f-44d5-99ad-ca251a31e890" Alias="Service Detail Asides List" Level="1">
  <Info>
    <Name>Service Detail Asides List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cd91942a-23a0-414f-8456-26e272677bd9"
    },
    {
      "contentElementTypeKey": "ae0febd7-f9c5-44cf-96f6-e97bbedde6f8"
    }
  ]
}]]></Config>
</DataType>