<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da61d055-c1d2-4744-b784-3aac81ae63d0" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0b4cab36-a333-4525-96a9-ebe3c69626dc"
    }
  ]
}]]></Config>
</DataType>