<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3961d738-3eea-49b2-92fe-0c0e24093d66" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6ccd122a-67c2-4a47-bd4e-a4f88101d9e0">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="963a991f-db52-4dc9-8263-14ae93ec8abc" SortOrder="0">servicesPage</ContentType>
    <ContentType Key="62eb04e8-342f-48b7-b056-07350b3a79e8" SortOrder="1">aboutPage</ContentType>
    <ContentType Key="cc80fa57-4184-464b-9c28-5dcc07c8118e" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6e4d770a-dc3e-4631-9b24-f862645c5efc</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>ce40aeb6-c61d-460b-a2e8-9053e99c38e1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4097394b-1a20-4157-9bcb-2dae7065408d</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>85e64ff8-6db4-4504-8587-4a6b4ec916a0</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>