<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0d9a71f-95f9-4e28-9ba4-10a6054e5378" Alias="Contact" Level="2">
  <Info>
    <Parent Key="b378739f-ac33-4eaf-990d-496b5aa94c9e">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-08T21:29:18</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fa038481-fa38-4d08-84a4-ce5808af0285">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "73684d45-d665-4329-ad20-54370b0dade5",
      "key": "e2852fb4-0bb2-480d-80df-61fd351dccc1",
      "udi": null,
      "values": [
        {
          "alias": "logosImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e1e1b582-dcce-4f4e-8ba0-544b7dc8d8a2",
              "mediaKey": "afef9f8a-d6fb-4078-89de-8d88bd92a5d6",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0c07234f-4a2a-4fe5-9744-4544d6dc3a62",
      "key": "63524c3b-7edf-4910-af2a-6f8c370c29b3",
      "udi": null,
      "values": [
        {
          "alias": "contactDudeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fd6acb49-97f7-4a2f-b1a7-4d713bad2f65",
              "mediaKey": "d02e464c-d9ec-48b6-a662-de018a0fa89f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4ca7b4ac-d437-4df7-b47d-a8e4fe116169",
              "mediaKey": "25ececc0-f95b-457d-9324-3ef22fcd52ab",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactOfficeLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    },
    {
      "contentTypeKey": "0830f167-255a-4942-a718-b74ad6df4b6b",
      "key": "da3d3cc8-f436-49d6-84d6-d5da0004b4e1",
      "udi": null,
      "values": [
        {
          "alias": "mapImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "41a8f9e8-fac6-44bb-83c1-9c40b4a043bd",
              "mediaKey": "aa9604d9-f329-4041-b88d-8d326ec74443",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "mapLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "mapTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "mapText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fababb35-f622-432a-8466-12c81bf9910a",
      "key": "16207707-01c4-41be-8c6f-78f25ecce827",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e2852fb4-0bb2-480d-80df-61fd351dccc1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "63524c3b-7edf-4910-af2a-6f8c370c29b3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "da3d3cc8-f436-49d6-84d6-d5da0004b4e1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "63524c3b-7edf-4910-af2a-6f8c370c29b3",
        "contentUdi": null,
        "settingsKey": "16207707-01c4-41be-8c6f-78f25ecce827",
        "settingsUdi": null
      },
      {
        "contentKey": "da3d3cc8-f436-49d6-84d6-d5da0004b4e1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e2852fb4-0bb2-480d-80df-61fd351dccc1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>