<?xml version="1.0" encoding="utf-8"?>
<Content Key="b378739f-ac33-4eaf-990d-496b5aa94c9e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-05T17:08:56</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6ccd122a-67c2-4a47-bd4e-a4f88101d9e0">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8202a3a-9aaf-49f7-829c-189623753498",
      "key": "3b05d096-865a-4715-ad0a-b0e1ad245ca4",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a8eb05ac-e19e-4a82-a09d-5d068dcfc8e2",
              "mediaKey": "b212c840-e598-48d8-9a76-0e08204bd022",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact us",
              "target": null,
              "udi": "umb://document/a0d9a71f95f94e289ba410a6054e5378",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0c6caf18-43a8-4191-83f9-1f4317e3e24e",
      "key": "c81ba437-ffd8-4120-9762-fd7d5ce9abcf",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "2d79b986-1660-4215-9eda-c53a7904f796",
      "key": "b7653b71-1bea-40bf-88a6-fc2a85895bfa",
      "udi": null,
      "values": [
        {
          "alias": "mainLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "mainQuote",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D"
        },
        {
          "alias": "mainText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."
        },
        {
          "alias": "mainImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c6ab727f-5785-4320-b390-5dd5d3207c02",
              "mediaKey": "32f75fc1-bf90-47df-9c9a-fe4e6ffc0053",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "mainFounder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        }
      ]
    },
    {
      "contentTypeKey": "abd2e0a6-65b2-4fbd-8459-d27536a6b12d",
      "key": "35c84678-6431-44f3-83f0-ffc1f9effae3",
      "udi": null,
      "values": [
        {
          "alias": "successTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than"
        },
        {
          "alias": "successLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4.000\u002B clients"
        },
        {
          "alias": "successText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed."
        },
        {
          "alias": "successLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/75946731cbdc4fae8dc89050d2e40c78",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "successGlobedotImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "188f2f0f-8dd8-4268-be8d-95c3619fa050",
              "mediaKey": "870a05da-87f3-44cc-a076-d9b88fa14138",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "successPeopleImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b3c6f85a-87a3-4862-9994-bdc29515f002",
              "mediaKey": "5080373b-cb45-4509-8954-0eedd42e838f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "successStoryLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "successStoryTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "successDotmapImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ddef8b7b-a41c-4149-8e72-7eed401d241e",
              "mediaKey": "8c34c9a3-2167-415f-b860-d59d06753cc0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "successMeetingImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "35f473ba-0459-44c6-af2c-0de75d8418ac",
              "mediaKey": "b4df3038-0082-4bc3-bfb3-1a561636957b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "73684d45-d665-4329-ad20-54370b0dade5",
      "key": "95f9fe71-edc3-4566-aff5-ec66944be0ba",
      "udi": null,
      "values": [
        {
          "alias": "logosImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8b6621e0-0bfc-473c-8503-f0e44f49a4e1",
              "mediaKey": "afef9f8a-d6fb-4078-89de-8d88bd92a5d6",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c9a44c9b-b30e-4bcf-84d6-155c59d82d67",
      "key": "49adc4a7-8180-40c0-aa47-8c083f8f90e8",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3b05d096-865a-4715-ad0a-b0e1ad245ca4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c81ba437-ffd8-4120-9762-fd7d5ce9abcf",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b7653b71-1bea-40bf-88a6-fc2a85895bfa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "35c84678-6431-44f3-83f0-ffc1f9effae3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "95f9fe71-edc3-4566-aff5-ec66944be0ba",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3b05d096-865a-4715-ad0a-b0e1ad245ca4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b7653b71-1bea-40bf-88a6-fc2a85895bfa",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c81ba437-ffd8-4120-9762-fd7d5ce9abcf",
        "contentUdi": null,
        "settingsKey": "49adc4a7-8180-40c0-aa47-8c083f8f90e8",
        "settingsUdi": null
      },
      {
        "contentKey": "35c84678-6431-44f3-83f0-ffc1f9effae3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "95f9fe71-edc3-4566-aff5-ec66944be0ba",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>