<?xml version="1.0" encoding="utf-8"?>
<Content Key="211eb195-6431-440e-9795-3a00d60aaa1f" Alias="Services" Level="2">
  <Info>
    <Parent Key="b378739f-ac33-4eaf-990d-496b5aa94c9e">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2025-11-08T21:21:39</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3324079a-4d88-4a61-9afd-d9ca61b04691">ServicesPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0c6caf18-43a8-4191-83f9-1f4317e3e24e",
      "key": "cba34979-a707-4a78-a236-6c8e3dffdbf3",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0c07234f-4a2a-4fe5-9744-4544d6dc3a62",
      "key": "1c012b10-e2d0-487e-8202-8135c8653e6d",
      "udi": null,
      "values": [
        {
          "alias": "contactDudeImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d0dedcae-48c6-405b-97de-1d070c42b129",
              "mediaKey": "d02e464c-d9ec-48b6-a662-de018a0fa89f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "094120df-1d31-4e31-8fdb-19af466d4fec",
              "mediaKey": "25ececc0-f95b-457d-9324-3ef22fcd52ab",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactOfficeLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c9a44c9b-b30e-4bcf-84d6-155c59d82d67",
      "key": "4e291b1d-27ed-4fd4-8886-44c453e27ce6",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "fababb35-f622-432a-8466-12c81bf9910a",
      "key": "6527adf1-df48-459b-9e62-1eb8562eeea8",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "cba34979-a707-4a78-a236-6c8e3dffdbf3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1c012b10-e2d0-487e-8202-8135c8653e6d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "cba34979-a707-4a78-a236-6c8e3dffdbf3",
        "contentUdi": null,
        "settingsKey": "4e291b1d-27ed-4fd4-8886-44c453e27ce6",
        "settingsUdi": null
      },
      {
        "contentKey": "1c012b10-e2d0-487e-8202-8135c8653e6d",
        "contentUdi": null,
        "settingsKey": "6527adf1-df48-459b-9e62-1eb8562eeea8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>