<?xml version="1.0" encoding="utf-8"?>
<Content Key="a41b188d-0665-4ceb-b462-2f720e1ac6b0" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-08T20:54:46</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <footerLabel>
      <Value><![CDATA[Themesflat]]></Value>
    </footerLabel>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerText>
    <search>
      <Value><![CDATA[[
  {
    "key": "5db2a928-fdd5-4ec8-b08b-759136889743",
    "mediaKey": "950cc72f-eea0-4c42-82ab-3588324f8755",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </search>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "77f6f24c-be41-4703-93bc-7b1dc99a0ea7",
    "mediaKey": "8e63ecfa-ceb3-4b39-8d18-0eb4d38ec09a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteSocials>
      <Value><![CDATA[[
  {
    "key": "9b7d693b-981c-4f15-9028-08ccd44c46d7",
    "mediaKey": "a8940c73-a8a7-4482-b7c1-9c6d631f8d58",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteSocials>
  </Properties>
</Content>