<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c34c9a3-2167-415f-b860-d59d06753cc0" Alias="Dot map.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMappng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T19:36:31</CreateDate>
    <NodeName Default="Dot map.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fqbheoqo/dot-map.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>