<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0992c65-fee2-45d4-9f31-173c653d9c83" Alias="image-106 1.png" Level="2">
  <Info>
    <Parent Key="3d9abc82-6902-43a0-a79b-9ce0dd8e98ad">TeamMembers</Parent>
    <Path>/TeamMembers/image1061png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-11T21:13:00</CreateDate>
    <NodeName Default="image-106 1.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3ltn4zul/image-106-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>