<?xml version="1.0" encoding="utf-8"?>
<Media Key="33cfadb6-b7ae-4d2f-a4d0-f41c4cd47bfd" Alias="image-24-min 1.png" Level="2">
  <Info>
    <Parent Key="095ad3f3-c941-43dc-bd8e-423eedf56f43">ServiceDetailsThumbs</Parent>
    <Path>/ServiceDetailsThumbs/image24Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T00:19:06</CreateDate>
    <NodeName Default="image-24-min 1.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hftjtboh/image-24-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>