<?xml version="1.0" encoding="utf-8"?>
<Media Key="befcd129-fd8a-43e4-92ee-06b125fe7807" Alias="image-22-min 1.png" Level="2">
  <Info>
    <Parent Key="095ad3f3-c941-43dc-bd8e-423eedf56f43">ServiceDetailsThumbs</Parent>
    <Path>/ServiceDetailsThumbs/image22Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T00:19:06</CreateDate>
    <NodeName Default="image-22-min 1.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uynluchd/image-22-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>