<?xml version="1.0" encoding="utf-8"?>
<Media Key="74d8294b-d49f-40d6-b20f-dc8019b5eac0" Alias="image-21-min 1.png" Level="2">
  <Info>
    <Parent Key="095ad3f3-c941-43dc-bd8e-423eedf56f43">ServiceDetailsThumbs</Parent>
    <Path>/ServiceDetailsThumbs/image21Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T00:19:06</CreateDate>
    <NodeName Default="image-21-min 1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ytrj3qxw/image-21-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>