<?xml version="1.0" encoding="utf-8"?>
<Media Key="5080373b-cb45-4509-8954-0eedd42e838f" Alias="Img-1 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img11png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T19:35:58</CreateDate>
    <NodeName Default="Img-1 1.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wt4nnzrm/img-1-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>