<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d822c6d-cb19-4559-9a44-2326b426382b" Alias="img_choose_01_home01 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home011png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-11T20:42:45</CreateDate>
    <NodeName Default="img_choose_01_home01 1.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2ltmjw1q/img_choose_01_home01-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>