<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff484915-c163-4ba3-9529-d279eedcf7f2" Alias="img_choose_01_home01 2.png" Level="2">
  <Info>
    <Parent Key="3d9abc82-6902-43a0-a79b-9ce0dd8e98ad">TeamMembers</Parent>
    <Path>/TeamMembers/img_choose_01_home012png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-11T21:13:00</CreateDate>
    <NodeName Default="img_choose_01_home01 2.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tkbb2sik/img_choose_01_home01-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>