<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa9604d9-f329-4041-b88d-8d326ec74443" Alias="map 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T22:53:45</CreateDate>
    <NodeName Default="map 1.png" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k1hnahca/map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>