<?xml version="1.0" encoding="utf-8"?>
<Media Key="32f75fc1-bf90-47df-9c9a-fe4e6ffc0053" Alias="OnlineSignatures.net-302 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnlineSignaturesnet3021png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T19:20:26</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j0kldbhz/onlinesignaturesnet-302-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>