<?xml version="1.0" encoding="utf-8"?>
<Media Key="950cc72f-eea0-4c42-82ab-3588324f8755" Alias="Search.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Searchpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-08T21:49:00</CreateDate>
    <NodeName Default="Search.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uagfui4j/search.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>