<?xml version="1.0" encoding="utf-8"?>
<Media Key="095ad3f3-c941-43dc-bd8e-423eedf56f43" Alias="ServiceDetailsThumbs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceDetailsThumbs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-10T00:18:15</CreateDate>
    <NodeName Default="ServiceDetailsThumbs" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>