<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d9abc82-6902-43a0-a79b-9ce0dd8e98ad" Alias="TeamMembers" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T21:12:32</CreateDate>
    <NodeName Default="TeamMembers" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>