<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4df3038-0082-4bc3-bfb3-1a561636957b" Alias="Video.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T19:36:54</CreateDate>
    <NodeName Default="Video.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/w53jsaxl/video.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>